{% extends "base.html" %}
{% load static %}

{% block styles %}
<link href="{% static 'styles/wierd.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block archive %}
<a href="{% url 'comic-archive' %}" class="btn btn-outline-light">
    <span class="glitch layers" data-text="{{ panel.archive_text }}">Archive</span>
</a>
{% endblock %}

{% block howto %}
<a href="{% url 'comic-howto' %}" class="btn btn-outline-light glitch layers" data-text="{{ panel.howto_text }}">
    <span class="">How to Play</span>
</a>
{% endblock %}


{% block social-read %}
<span class="social-text glitch layers" data-text="{{ panel.vote_text }}">Read + Vote at</span>
{% endblock %}

{% block social-donate %}
<span class="social-text glitch layers" data-text="{{ panel.donate_text }}">Donate + Vote Further at</span>
{% endblock %}

{% block search-input %}
<input type="text" class="form-control autocomplete glitch" placeholder="{{ panel.key_phrase }}"
       onkeyup="liveSearchResult(this.value)" data-text="Nevermore" id="q" name="q">
{% endblock %}

{% block search-icon %}
<img class="pixel-art glitch" src="{% static 'icons/search.png' %}">
{% endblock %}

{% block content %}
<div class="row mt-2">
    <!-- Secret panel, you found it! -->
    <div class="col">
        <img src="{{ panel.image.url }}" height=1080 width=1080 title="{{ panel.title }}" alt="{{ panel.alt }}"
             class="img-fluid"/>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/glitch.js' %}" type="text/javascript"></script>
{% endblock %}