{% for suggestion in suggestions %}
<a href="{{ suggestion.obj.get_absolute_url }}" class="list-group-item list-group-item-action text-truncate">
    <span class="link-effect text-truncate">{{ suggestion.obj.fullname }}</span>

    {% if suggestion.type == 'tag' %}
    {% with count=suggestion.obj.published_count %}
    <span class="badge bg-info float-end">{{ count }} panel{{ count|pluralize }}</span>
    {% endwith %}
    {% endif %}
</a>
{% empty %}
<a class="list-group-item list-group-item-action disabled">
    <span class="link-effect text-truncate">No live matches</span>
</a>
{% endfor %}